html, body {
    margin: 0;
    padding: 0;
    background-color: #151515;
    color: whitesmoke;
    width: 100%;
    height: 100%;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.games-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    text-align: center;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.games-grid-child {
    text-decoration: none;
    font-size: 32px;
    background-color: #30303050;
    color: whitesmoke;
    border-radius: 32px;
    transition: 200ms;
    display: grid;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}